<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          홈
        </a>
      </li>
      
      <li>
        <a href = "{{ '/' | relative_url }}">
          자기소개
        </a>
      </li>
      
      <li>
        <a href = "{{ 'blog/' | relative_url }}">
          Skill
        </a>
      </li>
      
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          Project
        </a>
      </li>
       
      <li>
        <a href = "{{ '/' | relative_url }}">
          Blog
        </a>
      </li>
      <li>
            
        <a href = "{{ site.resume_url | relative_url }}">
          GitHub
        </a>
      </li>
</ul>
