<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          홈
        </a>
      </li>
      <li>
      <li>
        <a href = "{{ '/' | relative_url }}">
          기술
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          소개
        </a>
      </li>
      <li>
        <a href = "{{ 'blog/' | relative_url }}">
          블로그
        </a>
      </li>
      <li>
        <a href = "{{ site.resume_url | relative_url }}">
          Resume
        </a>
      </li>
</ul>
