html {
  --primary-background-color: white;
  --primary-text-color: #222;
  --primary-highlight-color: #eeeeee;
  padding: 0;
  margin: 0; }

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  transition: background 0.1s ease-in, color 0.1s ease-in; }

.mid-section-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  margin: auto;
  font-size: 1.5rem; }
  @media (max-width: 480px) {
    .mid-section-home {
      font-size: 1 rem; }
      .mid-section-home span {
        display: none; } }
  .mid-section-home h1 {
    font-size: 3.5rem;
    font-weight: 600; }

.sub-heading {
  width: 80%;
  margin: 0 auto;
  display: flex; }
  @media (max-width: 480px) {
    .sub-heading {
      width: 60%;
      min-width: 270px; } }

.summary-about-me {
  width: 50%;
  text-align: right;
  padding-right: 20px; }

.nav-link {
  border-left: 2px solid var(--primary-text-color);
  width: 50%;
  padding-left: 20px; }
  .nav-link ul {
    padding-inline-start: 0; }
  .nav-link li {
    display: block;
    text-align: left; }
    .nav-link li a {
      text-decoration: none;
      color: var(--primary-text-color); }
      .nav-link li a:hover {
        border-bottom: 2px solid var(--primary-text-color);
        color: var(--primary-text-color); }
  @media (max-width: 480px) {
    .nav-link li {
      display: block;
      margin-left: 10px; } }

.mid-section-cover {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px; }
  @media (max-width: 768px) {
    .mid-section-cover {
      width: 70%; } }
  @media (max-width: 480px) {
    .mid-section-cover {
      width: 95%; } }
  .mid-section-cover nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--primary-text-color); }
    .mid-section-cover nav h1 {
      font-size: 40px;
      flex-grow: 2;
      text-align: left;
      margin: 10px; }
    .mid-section-cover nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 5;
      padding-inline-start: 0; }
      .mid-section-cover nav ul li {
        padding: 0 20px;
        list-style-type: none; }
        .mid-section-cover nav ul li a {
          text-decoration: none;
          color: var(--primary-text-color); }
          .mid-section-cover nav ul li a:hover {
            border-bottom: 2px solid var(--primary-text-color);
            color: var(--primary-text-color); }
        @media (max-width: 480px) {
          .mid-section-cover nav ul li {
            text-align: center;
            padding: 0 10px; } }
    @media (max-width: 768px) {
      .mid-section-cover nav {
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .mid-section-cover nav ul {
          justify-content: center; }
        .mid-section-cover nav h1 {
          text-align: center; } }
  .mid-section-cover .sub-mid-section-cover {
    width: 100%;
    margin: 0 auto;
    overflow: hidden; }
    .mid-section-cover .sub-mid-section-cover img {
      max-width: 100%; }
    .mid-section-cover .sub-mid-section-cover a {
      color: var(--primary-text-color); }
      .mid-section-cover .sub-mid-section-cover a nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 2px solid var(--primary-text-color); }
        .mid-section-cover .sub-mid-section-cover a nav h1 {
          font-size: 40px;
          flex-grow: 2;
          text-align: left;
          margin: 10px; }
        .mid-section-cover .sub-mid-section-cover a nav ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          flex-grow: 5;
          padding-inline-start: 0; }
          .mid-section-cover .sub-mid-section-cover a nav ul li {
            padding: 0 20px;
            list-style-type: none; }
            .mid-section-cover .sub-mid-section-cover a nav ul li a {
              text-decoration: none;
              color: var(--primary-text-color); }
              .mid-section-cover .sub-mid-section-cover a nav ul li a:hover {
                border-bottom: 2px solid var(--primary-text-color);
                color: var(--primary-text-color); }
            @media (max-width: 480px) {
              .mid-section-cover .sub-mid-section-cover a nav ul li {
                text-align: center;
                padding: 0 10px; } }
        @media (max-width: 768px) {
          .mid-section-cover .sub-mid-section-cover a nav {
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            .mid-section-cover .sub-mid-section-cover a nav ul {
              justify-content: center; }
            .mid-section-cover .sub-mid-section-cover a nav h1 {
              text-align: center; } }
  .mid-section-cover #themeSelector {
    position: fixed;
    top: 5px;
    right: 5px;
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    border-radius: 5px;
    border: 0; }
  .mid-section-cover .post-footer {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
  .mid-section-cover .blog-list {
    list-style: none;
    padding-left: 0; }
    .mid-section-cover .blog-list li {
      margin-bottom: 50px; }
      .mid-section-cover .blog-list li .excerpt {
        font-size: 15px; }
      .mid-section-cover .blog-list li .blog-heading {
        font-size: 25px;
        font-weight: 800; }
      .mid-section-cover .blog-list li .date {
        font-size: 15px;
        opacity: 0.8;
        margin-left: 20px; }
  .mid-section-cover .blogPage-categoryList ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0; }
    .mid-section-cover .blogPage-categoryList ul li {
      margin: 10px 10px; }
    .mid-section-cover .blogPage-categoryList ul li:first-child {
      margin-left: 0; }
  .mid-section-cover div.highlight {
    background: var(--primary-highlight-color);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
    overflow: auto; }
