<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url}}">
    {% include analytics.html %}
    {% feed_meta %}
    {% seo %}

  </head>
    <body onload="onLoad()">
      {% include themeSelector.html %}
      {{ content }}
      <script src="{{"/assets/js/theme.js" | relative_url }}"></script>
      <script src="{{"/assets/js/script.js" | relative_url }}"></script>
    </body>
</html>