<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{"/favicon.ico" | relative_url }}" type="image/x-icon" />
    {% if site.disqus.shortname and site.disqus.shortname != "" %}
    <link rel="dns-prefetch" href="https://{{ site.disqus.shortname }}.disqus.com">
    {% endif %}
    <meta
    itemprop="description"
    name="description"
    content="
        {% if page.description %}
            {{ page.description | truncate: 160 }}
        {% else %}
            {{ site.description | truncate: 160  }}
        {% endif %}"
    />
    <title>
      {%if page.title %}
          {{ page.title }}
      {% else %}
          {{ site.title }}
      {% endif %}
    </title>
    <style>
      html {
        --primary-background-color: white;
        --primary-text-color: #222;
        --primary-highlight-color: #eee;
        background: var(--primary-background-color);
        color: var(--primary-text-color);
      }
      body {
        background: var(--primary-background-color);
        color: var(--primary-text-color);
      }
    </style>
    <script>
      (function() {
        var themes = ['default-light', 'default-dark', 'solarized-light', 'solarized-dark', 'sepia-light', 'sepia-dark'];
        try {
          var theme = localStorage.getItem('theme');
          if (themes.indexOf(theme) === -1) {
            return;
          }
          document.documentElement.setAttribute('data-theme', theme);
        } catch (error) {
          return;
        }
      })();
    </script>
    <link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url}}">

    <!-- Dns Prefetch the google analytics -->
    {% if site.google_analytics and site.google_analytics != "" and site.google_analytics != "G-XXXXXXXXXX" %}
    <link rel="dns-prefetch" href="www.googletagmanager.com">
    <link rel="dns-prefetch" href="www.google-analytics.com">
    {% endif %}



    <!-- Load the script async and wait for the page to render for script to execute -->
    <script defer src="{{"/assets/js/theme.js" | relative_url }}"></script>
    <script defer src="{{"/assets/js/script.js" | relative_url }}"></script>

    {% if site.google_analytics and site.google_analytics != "" and site.google_analytics != "G-XXXXXXXXXX" %}
      {% include analytics.html %}
    {% endif %}
    {% feed_meta %}
    {% seo %}

  </head>
    <body>
      {% include themeSelector.html %}
      {{ content }}
    </body>
</html>
