---
layout: description
---
<ul>
    {% if paginator and paginator.posts %}
        {% for post in paginator.posts %}
            <li>
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <p>{{ post.excerpt }}</p>
            </li>
        {% endfor %}
    {% elsif page.pagetype %}
        {% assign filtered_posts = site.posts | where: "contenttype", page.pagetype %}
        {% for post in filtered_posts %}
            <li>
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <p>{{ post.excerpt }}</p>
            </li>
        {% endfor %}
    {% endif %}
</ul>
